In [11]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import squareform, pdist

In [12]:
#1 fetch the raw.csv file

raw_df = pd.read_csv("testdata.csv")
print(raw_df.head())

                           Point A                          Point B  \
0  0.0654729774355,0.5596031813822                          0.2,0.6
1  0.1832274339834,0.7000027257277                          0.2,0.6
2  0.5727229441034,0.5188420233464  0.4912006280318,0.4554357775129
3  0.8444639976755,0.5958353218584   0.459497505115,0.4916679179891
4  0.2194595744597,0.3331523034054  0.2421046622573,0.3784424790008

                           Point C                          Point D  \
0  0.3100399256504,0.5550741638226                          0.4,0.6
1  0.1786984164239,0.5052549706677  0.2556917149359,0.4146746194771
2                          0.2,0.4  0.2692787676145,0.3240942682864
3  0.2013435042215,0.5233710409059  0.4821425929127,0.1701076712622
4  0.1651113637452,0.3784424790008  0.2375756446978,0.2697460575719

                           Point E Error Classification
0  0.5364908036271,0.5596031813822                    A
1  0.1651113637452,0.3059781980482                    B
2  0.1651113637452,0.3059781980482                    C
3  0.1651113637452,0.3059781980482                    D
4  0.1651113637452,0.3059781980482                    E

In [13]:
raw_df['Point A'].fillna(value='0,0', inplace=True)
raw_df['Point B'].fillna(value='0,0', inplace=True)
raw_df['Point C'].fillna(value='0,0', inplace=True)
raw_df['Point D'].fillna(value='0,0', inplace=True)
raw_df['Point E'].fillna(value='0,0', inplace=True)

In [14]:
raw_df.isnull().sum()

Point A                 0
Point B                 0
Point C                 0
Point D                 0
Point E                 0
Error Classification    0
dtype: int64

In [15]:
# after fetching , select columns and store it in raw_df_selected

columns = ['Point A', 'Point B', 'Point C', 'Point D', 'Point E']
raw_df_selected = raw_df[columns]

In [16]:
raw_df_selected.head(10)

,Point A,Point B,Point C,Point D,Point E
0,"0.0654729774355,0.5596031813822","0.2,0.6","0.3100399256504,0.5550741638226","0.4,0.6","0.5364908036271,0.5596031813822"
1,"0.1832274339834,0.7000027257277","0.2,0.6","0.1786984164239,0.5052549706677","0.2556917149359,0.4146746194771","0.1651113637452,0.3059781980482"
2,"0.5727229441034,0.5188420233464","0.4912006280318,0.4554357775129","0.2,0.4","0.2692787676145,0.3240942682864","0.1651113637452,0.3059781980482"
3,"0.8444639976755,0.5958353218584","0.459497505115,0.4916679179891","0.2013435042215,0.5233710409059","0.4821425929127,0.1701076712622","0.1651113637452,0.3059781980482"
4,"0.2194595744597,0.3331523034054","0.2421046622573,0.3784424790008","0.1651113637452,0.3784424790008","0.2375756446978,0.2697460575719","0.1651113637452,0.3059781980482"

In [17]:
#  convert the data frame to an array for further operation

raw_df_selected_array = raw_df_selected[['Point A', "Point B", "Point C", "Point D", "Point E"]].to_numpy()
np.shape(raw_df_selected_array)

(5, 5)

In [18]:
rows = len(raw_df_selected_array);  
cols = len(raw_df_selected_array[0]);

In [19]:
print(rows)
print(cols)

5
5

In [20]:
c = np.array([]) 

for i in range(0, rows): 
    
    for j in range(0,cols):
        
        # raw_df_selected_array[i,j]   #selected point
        my_string = raw_df_selected_array[i,j]
        my_list = my_string.split(",")
        c = np.append(c, [float(my_list[0]),float(my_list[1])] )

In [21]:
np.shape(c)

(50,)

In [22]:
d = np.reshape(c, (rows,10)) # reshape into each row 10 points

In [23]:
# e = np.reshape(d[0], (5,2)) # group each row into 5 points

In [24]:
row_in_d = len(d)

row_in_d

5

In [25]:
# calculate pdist for each sample d[i]

for i in range(0, row_in_d):
    
    a = np.reshape(d[i], (5,2))
    out = squareform(pdist(a))  #pdistarray
    rows = len(out);  
    cols = len(out[0]);
    out_summed = np.array([])
    for j in range(0, rows):  
        sumRow = 0;  
        for k in range(0, cols):  
            sumRow = sumRow + out[j][k];
        out_summed = np.append(out_summed, [sumRow], axis=0)
    matrix = np.matrix(out_summed)
    if (i==0) :
        DF = pd.DataFrame(matrix, columns=['Point A','Point B', 'Point C', 'Point D', 'Point E'], index = [i])
    else:
        DF2 = pd.DataFrame(matrix, columns=['Point A','Point B', 'Point C', 'Point D', 'Point E'], index = [i])
        DF = pd.concat([DF, DF2])

extracted_col = raw_df["Error Classification"]
DF = DF.join(extracted_col)

DF.to_csv("testdata_dist.csv")

In [26]:
DF.head()

    Point A   Point B   Point C   Point D   Point E Error Classification
0  1.193045  0.798226  0.690517  0.779855  1.178764                    A
1  0.985027  0.688107  0.610531  0.748271  1.031756                    B
2  1.314896  1.016292  0.890695  0.826937  1.024571                    C
3  2.343641  1.329318  1.578943  1.677580  1.651973                    D
4  0.248088  0.342151  0.350840  0.386389  0.319976                    E