In [46]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import squareform, pdist

In [57]:
#1 fetch the raw.csv file

raw_df = pd.read_csv("Dataset_320.csv")
print(raw_df.head())

   No                          Point A                          Point B  \
0   1  0.2807019358965,0.4244344252102  0.4211343666572,0.4556416320459
1   2  0.9514520023251,0.8831535204871                              NaN
2   3  0.5256835405573,0.2245299934992  0.1309621903588,0.5303057532548
3   4             0.3218181818182,0.41             0.3872727272727,0.81
4   5  0.2592110836956,0.1869342057736  0.9236032297365,0.0994094919239

                           Point C                          Point D  \
0  0.5366010319493,0.4275551458938  0.8549145416735,0.4181929838431
1  0.9753223788295,0.7120824888718  0.4899580565721,0.5410114572565
2  0.2802085009625,0.1866406978221   0.2249766170537,0.616222017113
3  0.8963636363636,0.3554545454545  0.4236363636364,0.3918181818182
4                              NaN  0.1279240129211,0.8592831439827

                           Point E Error Classification
0  0.6801541833936,0.4244344252102                    A
1   0.4422173035632,0.409724386482                    C
2  0.2679347489828,0.8739708086875                    B
3  0.8781818181818,0.6463636363636                    A
4  0.9076896454002,0.6524065476107                    D

In [58]:
raw_df['Point A'].fillna(value='0,0', inplace=True)
raw_df['Point B'].fillna(value='0,0', inplace=True)
raw_df['Point C'].fillna(value='0,0', inplace=True)
raw_df['Point D'].fillna(value='0,0', inplace=True)
raw_df['Point E'].fillna(value='0,0', inplace=True)

In [59]:
raw_df.isnull().sum()

No                      0
Point A                 0
Point B                 0
Point C                 0
Point D                 0
Point E                 0
Error Classification    0
dtype: int64

In [60]:
# after fetching , select columns and store it in raw_df_selected

columns = ['Point A', 'Point B', 'Point C', 'Point D', 'Point E']
raw_df_selected = raw_df[columns]

In [61]:
raw_df_selected.head(10)

,Point A,Point B,Point C,Point D,Point E
0,"0.2807019358965,0.4244344252102","0.4211343666572,0.4556416320459","0.5366010319493,0.4275551458938","0.8549145416735,0.4181929838431","0.6801541833936,0.4244344252102"
1,"0.9514520023251,0.8831535204871","0,0","0.9753223788295,0.7120824888718","0.4899580565721,0.5410114572565","0.4422173035632,0.409724386482"
2,"0.5256835405573,0.2245299934992","0.1309621903588,0.5303057532548","0.2802085009625,0.1866406978221","0.2249766170537,0.616222017113","0.2679347489828,0.8739708086875"
3,"0.3218181818182,0.41","0.3872727272727,0.81","0.8963636363636,0.3554545454545","0.4236363636364,0.3918181818182","0.8781818181818,0.6463636363636"
4,"0.2592110836956,0.1869342057736","0.9236032297365,0.0994094919239","0,0","0.1279240129211,0.8592831439827","0.9076896454002,0.6524065476107"
5,"0.587052300456,0.2490774974587","0.6729685643142,0.0588343417727","0.8754854719799,0.2541463337106","0.6545579363446,0.5978113891433","0.7834323321318,0.9107920646267"
6,"0.2188397410638,0.8443544684761","0.1370990663486,0.3963625212156","0.2004291130942,0.1989144498018","0.0082246705614,0.7635070408698","0,0"
7,"0.3148,0.3020909090909","0.3144,0.1093090909091","0.8963636363636,0.3554545454545","0.3792,0.2545090909091","0.8874,0.2778909090909"
8,"0.6568924626906,0.9106327291667","0.4948789365581,0.6878641307344","0.77840260729,0.4988483502464","0.4543755550249,0.2423269338698","0.6231396447463,0.1005650985038"
9,"0.8997328532321,0.8513263518145","0.5536123939174,0.413702782566","0.8082297432983,0.8911103126553","0.4621092839836,0.564881833761","0.4,0.4"

In [62]:
#  convert the data frame to an array for further operation

raw_df_selected_array = raw_df_selected[['Point A', "Point B", "Point C", "Point D", "Point E"]].to_numpy()
np.shape(raw_df_selected_array)

(316, 5)

In [63]:
rows = len(raw_df_selected_array);  
cols = len(raw_df_selected_array[0]);

In [64]:
print(rows)
print(cols)

316
5

In [65]:
c = np.array([]) 

for i in range(0, rows): 
    
    for j in range(0,cols):
        
        # raw_df_selected_array[i,j]   #selected point
        my_string = raw_df_selected_array[i,j]
        my_list = my_string.split(",")
        c = np.append(c, [float(my_list[0]),float(my_list[1])] )

In [66]:
np.shape(c)

(3160,)

In [67]:
d = np.reshape(c, (rows,10)) # reshape into each row 10 points

In [12]:
# e = np.reshape(d[0], (5,2)) # group each row into 5 points

In [68]:
row_in_d = len(d)

row_in_d

316

In [69]:
# calculate pdist for each sample d[i]

for i in range(0, row_in_d):
    
    a = np.reshape(d[i], (5,2))
    out = squareform(pdist(a))  #pdistarray
    rows = len(out);  
    cols = len(out[0]);
    out_summed = np.array([])
    for j in range(0, rows):  
        sumRow = 0;  
        for k in range(0, cols):  
            sumRow = sumRow + out[j][k];
        out_summed = np.append(out_summed, [sumRow], axis=0)
    matrix = np.matrix(out_summed)
    if (i==0) :
        DF = pd.DataFrame(matrix, columns=['Point A','Point B', 'Point C', 'Point D', 'Point E'], index = [i])
    else:
        DF2 = pd.DataFrame(matrix, columns=['Point A','Point B', 'Point C', 'Point D', 'Point E'], index = [i])
        DF = pd.concat([DF, DF2])

extracted_col = raw_df["Error Classification"]
DF = DF.join(extracted_col)

DF.to_csv("dataset_with_error.csv")

In [70]:
DF.head()

    Point A   Point B   Point C   Point D   Point E Error Classification
0  1.373475  0.958978  0.836790  1.502963  0.978804                    A
1  2.740688  3.838518  2.507845  1.958716  2.050739                    C
2  1.940213  1.371291  1.743612  1.315589  2.017418                    B
3  1.690368  2.025028  2.025214  1.518278  1.934396                    A
4  2.473006  3.252529  3.235102  3.460775  3.276035                    D